{% extends "./base.html" %}
{%block title%}Jobconnect {%endblock%}
{% block main %}

  <div class="container">

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">IT 회사 리뷰에 대한 모든 것</h1>
          <p class="col-lg-10 fs-4">취업과 이직에 WorkWhisper만한 곳이 없죠. 로그인하고 직접 회사 리뷰를 남겨보세요!</p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
            <hr class="my-4">
            <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
          </form>
        </div>
      </div>
    </div>
{% comment %} 


    <div class="my-5" style="display:flex; justify-content:flex-end;">
      <a href="{% url 'board:write' %}" class="btn btn-primary">
        글쓰기
      </a>
    </div> {% endcomment %}

{% comment %} NEW {% endcomment %}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
      {% for board in page %}
      <a class="my-3" style="color: inherit; text-decoration: none;" href="{% url 'board:detail' board.pk %}">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">회사로고</text></svg>
            <div class="card-body">
              <h1>{{ board.name }}</h1>
              <li>{{ board.location}}</li>
              <li>전직군 평균 연봉 {{ board.salary}}만원</li>
              <li>총 리뷰 수  {{ board.comment_set.all|length }} 개</li>
              <li>평균평점  {{ board.comment_set.all|length }} 개
                
              </li>
              {% comment %} <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> {% endcomment %}
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-body-secondary">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>

    {% comment %} <div class="pagination">
      <span class="step-links">
        {% if page.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page.previous_page_number }}">previous</a>
        {% endif %}
    
        <span class="current-page">
          Page {{ page.number }} of {{ page.paginator.num_pages }}.
        </span>
    
        {% if page.has_next %}
          <a href="?page={{ page.next_page_number }}">next</a>
          <a href="?page={{ page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
      </span>
    </div> {% endcomment %}
    

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if page.has_previous %}
          <li class="page-item"><a class="page-link" href="{% url 'board:index' %}">맨 처음</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">{{page.previous_page_number}}</a></li>
        {% elif page.has_previous == false %}
          <li class="page-item disabled"><a class="page-link" href="?page={{ page.previous_page_number }}">{{page.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="?page={{ page.number}}">{{page.number}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages }}">맨 마지막</a></li>
      </ul>
    </nav>


  </div>
{% endblock %}