{% extends "./base.html" %}
{%block title%}Jobconnect {%endblock%}
{% block main %}

<style>
  .btn-group{
    padding-top:20px;
    display:plex;
    align-items: center;
    justify-content: center;
    margin-left:120px;
    max-width:120px;
    margin-bottom:20px;
  }

  .col-4{
    display:plex;
    align-items: right;
    justify-content: right;
    margin-bottom : 40px;
  }

  .sorting{
    display:plex;
    margin-bottom : 20px;
    text-align : right;
  }
</style>
<body>
  <div class="container">

    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
              {{request.user}}
              <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">IT 회사 리뷰에 대한 모든 것</h1>
              <p class="col-lg-10 fs-4">취업과 이직에 WorkWhisper만한 곳이 없죠. 로그인하고 직접 회사 리뷰를 남겨보세요!</p>
            </div>
    
            {% if user.is_authenticated %}
              <p>환영합니다.</p>
              <a href="/board/logout/">로그아웃</a>
            {% else %}
              <div class="col-md-10 mx-auto col-lg-5" >
                <form method="Post" action="/board/login/" class="p-4 p-md-5 border rounded-3 bg-body-tertiary" >
                  {% csrf_token %}
    
                  <a href = "{%url 'board:login' %}", class="w-100 btn btn-lg btn-primary"style="margin-bottom:20px" >로그인</button>
                  <!-- <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button> -->
                  <a href = "{%url 'board:register' %}", class="w-100 btn btn-lg btn-primary" >회원 가입</a>
                  <!-- <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button> -->
                  <hr class="my-4">
                  <small class="text-body-secondary">By clicking Sign up, you agree to the terms of use.</small>
                </form>
              </div>
            {% endif %}

      </div>
    </div>

    <form method="GET" action="{% url 'board:index' %}">
      <div class='sorting'> 
        <select name="sort" id="sort">
          <option value="basic" id="basic">필터 설정</option>
          <option value="salary" id="salary">높은 연봉순</option>
          {% comment %} <option value="likes" id="likes">평점순</option> {% endcomment %}
          <option value="comments" id="comments">리뷰 많은순</option> 
        </select>
        <button class="btn btn-primary" type="submit" value="">정렬</button>
      </div>
      
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3" >
          {% for board in page %}
          <a class="my-3" style="color: inherit; text-decoration: none;" href="{% url 'board:detail' board.pk %}">
            <div class="col">
              <div class="card shadow-sm" style="height: 550px;">
                <img src="{{board.logo}}" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em"></text></img>
                <div class="card-body">

                  <h4 class="card-text">{{ board.name }}</h4>
                  <li class="card-text">{{ board.location}}</li>
                  <li class="card-text">전직군 평균 연봉 {{ board.salary}}만원</li>
                  <li class="card-text">총 리뷰 수  {{ board.comment_set.all|length }} 개</li>
                  {%for avg_entry in avg%}
                    {% if board.id == avg_entry.board %}
                      <li class="card-text">평균 평점 {{ avg_entry.avg_rating |floatformat:2 }}</li>
                    {% endif %}
                  {% endfor %}
                </div>
              
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">리뷰 보러가기</button>
                </div>
              </div>
            </div>
          </a>
          {% endfor %}
      </div>
      

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if page.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1&sort={{sort}}">맨 처음</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}&sort={{sort}}">{{page.previous_page_number}}</a></li>
          {% comment %} {% elif page.has_previous == false %}
            <li class="page-item disabled"><a class="page-link" href="?page={{ page.previous_page_number }}">{{page.previous_page_number}}</a></li> {% endcomment %}
          {% endif %}

          <li class="page-item"><a class="page-link" href="?page={{ page.number}}">{{page.number}}</a></li>

          {% if page.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}&sort={{sort}}">{{ page.next_page_number }}</a></li>
            <li class="page-item"><a class="page-link" href="?page={{ page.paginator.num_pages}}&sort={{sort}}">맨 마지막</a></li>
          {% endif %}
        </ul>
      </nav>
    </form>
  </div>
</body>
{% endblock %}