/* 이미지 컨테이너에 대한 스타일 */
.image-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* 이미지 그룹에 대한 스타일 */
.image-group {
    position: relative;
    /* 상대 위치로 설정 */
    text-align: center;
    /* 텍스트를 중앙 정렬 */
    padding-right: 40px;
}

/* 이미지의 최대 너비를 지정 */
.image-group img {
    max-width: 80%;
}

/* 이미지 텍스트에 대한 스타일 */
.image-text {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 4px;
    border: 1px solid #000;
    position: absolute;
    /* 절대 위치로 설정 */
    top: 2%;
    /* 상단에 배치 */
    left: 0;
    /* 좌측에 배치 */
    width: 10%;
    /* 너비를 100%로 설정하여 이미지 폭에 맞춤 */
}