{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <meta name="theme-color" content="#712cf9">
    <!-- Custom styles for this template -->
    {% include './partials/style.html' %}
</head>
<body class="d-flex flex-column h-100">
    {% include './partials/lightmode.html' %}
    {% include './partials/header.html' %}

    <!-- Begin page content -->
    <main class="flex-shrink-0">
        <div class="container my-5">
            {% block main %}{% endblock %}
        </div>
    </main>

    <br>
    
    {% include './partials/footer.html' %}
    
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap/assets/js/color-modes.js' %}"></script>
</body>
</html>